@page "/admin/MonthlyFactor"
@model Taxi.Site.Pages.Admin.Report.MonthlyFactorModel
@{
    ViewData["Title"] = "  پرداخت های  ماهانه  ";
    Layout = "_DashBoarddLayout";

    var xlabels = Newtonsoft.Json.JsonConvert.SerializeObject(@Model.charts.Select(x => x.Label).ToList());
    var yvalues = Newtonsoft.Json.JsonConvert.SerializeObject(@Model.charts.Select(x => x.Value).ToList());
    var zcolors = Newtonsoft.Json.JsonConvert.SerializeObject(@Model.charts.Select(x => x.Color).ToList());
}
<div class="col-12">
    <canvas id="chart" style="width:100%;" height="500px"></canvas>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
        var ctx = document.getElementById('chart').getContext('2d');

        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(xlabels),
                datasets: [{
                    label: "پرداخت های هفتگی",
                    data: @Html.Raw(yvalues),
                    backgroundColor: @Html.Raw(zcolors),
                    borderWodth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

}
